# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# Project-specific
data/*.csv
model/*.pkl
.streamlit/secrets.toml
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
